div{
    width: 20%;
    border: 1px solid black;
    margin: auto;
}
h2, p{
    text-align: center;
}
#form1, label, input{
    margin-left: 10px;
    margin-bottom: 10px;
}
#submit{
    display: block;
    margin-right: auto;
    margin-left: auto;
}