body{
    width: 80%;
    height: auto;
    margin: auto;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: cornflowerblue;
}
h1, h2, p, a, b{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    padding: 10px 0px;
}
.navbar1{
   width: 50%;
   float: left;
   padding-left: 60px;
}
.navbar2{
    text-align: right;
    padding-right: 60px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    padding: 20px;
    color: #808080;
}
.banner{
    width: 100%;
    height: auto;
    padding-top: 10px;
    position: relative;
}
.banner .img{
    width: 100%;
}
.banner .content{
    position: absolute;
    top: 150px;
    left: 20px;
    color: white;
    line-height: 0.2;
    padding-left: 50px;
}
.main-content{
    background-color: #e6e6e6;
    margin-top: -29px;
    width: 100%;
    line-height: 0.4;
    padding-bottom: 40px;
}
.main-content h2{
    padding-top: 50px;
    padding-left: 60px;
}
.main-content p{
    padding-left: 60px;
    margin-bottom: 40px;
    font-size: 18px;
}
.col{
    display: inline-block;
    width: 30%;
    margin-left: 2.1%;
}
.table-img img{
    width: 330px;
    display: block;
    margin-bottom: 7%;
}
.footer{
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
}